.ratings {
    place-items: center;
    &__numbers {
        transition: $transition;
        cursor: pointer;
        @include boxStyles; 
        &:hover {
            background-color: $primaryColor;
        }
    }
}